<div class="d-block d-sm-block d-md-block d-lg-none py-5 px-4 text-center myBGC"
  style="padding-top: 100px !important; padding-bottom: 100px !important;">
  <h2 class="fw-bold">¿Qué dicen nuestros clientes de nosotros?</h2>
  <div id="carouselxsmd" class="carousel slide mt-5 myMDMargin">
    <div class="carousel-indicators d-none">
      <button type="button" data-bs-target="#carouselxsmd" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselxsmd" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselxsmd" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <div class="card text-bg-dark">
          <div class="card-body myDarkerGrey">
            <img src="../../../../assets/img/comillas.svg" width="100" class="position-absolute translate-middle">
            <img src="../../../../assets/img/c2.svg" width="100" class="position-absolute translate-middle">
            <p class="card-text">Llevo años cambiando mis dólares con Peru Money. Me gusta que sea una casa de cambio en lugares seguros y cerca a los bancos.</p>
            <h5 class="card-title mt-2">Daniel Rojas</h5>
          </div>
        </div> -->
        <img src="assets/icons/comments/c2.svg" width="100" class="">
        <div class="py-3 px-3 rounded-4 myDarkerGrey myCard">
          <p class="card-text mt-5">Soy cliente frecuente del local de Jockey Plaza de Peru Money, y la verdad es que
            para mi es un gusto poder cambiar mi dinero con esta empresa ya que me da un tipo de cambio mejor que el del
            banco en un lugar seguro y con una atencion A1.</p>
          <h5 class="card-title mt-2">Carlos Vargas</h5>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <div class="card text-bg-dark"> -->
        <!-- <div class="card-body myDarkerGrey"> -->
        <!-- <img src="../../../../assets/img/comillas.svg" width="100" class="position-absolute translate-middle"> -->
        <!-- <p class="card-text">Llevo años cambiando mis dólares con Peru Money. Me gusta que sea una casa de cambio en lugares seguros y cerca a los bancos.</p>
            <h5 class="card-title mt-2">Daniel Rojas</h5>
          </div>
        </div> -->
        <img src="assets/icons/comments/c2.svg" width="100" class="">
        <div class="py-3 px-3 rounded-4 myDarkerGrey myCard">
          <p class="card-text mt-5">Llevo años cambiando mis dolares con Peru Money. Me gusta que sea una casa de cambio
            en lugares seguros y cerca a los bancos.</p>
          <h5 class="card-title mt-2">Daniel Rojas</h5>
        </div>
      </div>
      <!-- </div> -->
      <div class="carousel-item">
        <!-- <div class="card text-bg-dark"> -->
        <!-- <div class="card-body myDarkerGrey"> -->
        <!-- <img src="../../../../assets/img/comillas.svg" width="100" class="position-absolute translate-middle"> -->
        <!-- <p class="card-text">Llevo años cambiando mis dólares con Peru Money. Me gusta que sea una casa de cambio en lugares seguros y cerca a los bancos.</p>
            <h5 class="card-title mt-2">Daniel Rojas</h5>
          </div> -->
        <img src="assets/icons/comments/c2.svg" width="100" class="">
        <div class="py-3 px-3 rounded-4 myDarkerGrey myCard">
          <p class="card-text mt-5">Muy bueno tipo de cambio y sus operadores muy atentos ante cualquier duda dispuestos
            a ayudarme.</p>
          <h5 class="card-title mt-2">Alejandra Garcia</h5>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselxsmd" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselxsmd" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- LG -->
<div class="d-none d-lg-block py-5 px-5 text-center myBGC"
  style="padding-top: 100px !important; padding-bottom: 100px !important;">
  <h2 class="fw-bold">¿Qué dicen nuestros clientes de nosotros?</h2>
  <div id="carouselLg" class="carousel slide mt-5 px-5 myMDMargin">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/icons/comments/c2.svg" width="100" class="">
        <div class="py-3 px-3 rounded-4 myDarkerGrey myCard">
          <p class="card-text mt-5">Soy cliente frecuente del local de Jockey Plaza de Peru Money, y la verdad es que
            para mi es un gusto poder cambiar mi dinero con esta empresa ya que me da un tipo de cambio mejor que el del
            banco en un lugar seguro y con una atencion A1.</p>
          <h5 class="card-title mt-2">Carlos Vargas</h5>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <div class="card text-bg-dark">
          <div class="card-body myDarkerGrey">
            <img src="../../../../assets/img/comillas.svg" width="100" class="position-absolute translate-middle">
            <p class="card-text">Llevo años cambiando mis dólares con Peru Money. Me gusta que sea una casa de cambio en lugares seguros y cerca a los bancos.</p>
            <h5 class="card-title mt-2">Daniel Rojas</h5>
          </div>
        </div> -->
        <img src="assets/icons/comments/c2.svg" width="100" class="">
        <div class="py-3 px-3 rounded-4 myDarkerGrey myCard">
          <p class="card-text mt-5">Llevo años cambiando mis dolares con Peru Money. Me gusta que sea una casa de cambio
            en lugares seguros y cerca a los bancos.</p>
          <h5 class="card-title mt-2">Daniel Rojas</h5>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <div class="card text-bg-dark">
          <div class="card-body myDarkerGrey">
            <img src="../../../../assets/img/comillas.svg" width="100" class="position-absolute translate-middle">
            <p class="card-text">Llevo años cambiando mis dólares con Peru Money. Me gusta que sea una casa de cambio en lugares seguros y cerca a los bancos.</p>
            <h5 class="card-title mt-2">Daniel Rojas</h5>
          </div>
        </div> -->
        <img src="assets/icons/comments/c2.svg" width="100" class="">
        <div class="py-3 px-3 rounded-4 myDarkerGrey myCard">
          <p class="card-text mt-5">Muy bueno tipo de cambio y sus operadores muy atentos ante cualquier duda dispuestos
            a ayudarme.</p>
          <h5 class="card-title mt-2">Alejandra Garcia</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLg" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLg" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- LG -->