<div class="container-fluid	 text-center myPadding myDarkerGrey" style="padding-bottom: 100px;">
  <!-- d-block d-sm-block d-md-none -->
  <div class="divImg">
    <img class="img-fluid rounded-bottom-5 d-block d-sm-none myTopImg"
      src="assets/images/agency/planetatransaccionesMD.jpg">
    <img class="img-fluid rounded-bottom-5 d-none d-sm-block myTopImg"
      src="assets/images/agency/planetatransaccionesMD.jpg">
    <div class="textForImg mySecondaryColor">
      <h2>Tenemos {{ agency.length }} agencias a nivel nacional</h2>
    </div>
  </div>
  <div class="row mt-4 mx-2 myBlackC">
    <div class="col-lg-4 col-xs-4 container">
      <h1 style="font-size: 18px; font-weight: bold; letter-spacing: -0.5px;">Ubícanos en los siguientes Centros
        Comerciales</h1>
      <select id="departamento" class="form-select myCardBG mySelectBorders" [(ngModel)]="seleccion">
        <option [value]="seleccionT">Mostrar todos</option>
        <option *ngFor="let provinces of province" [value]="provinces.name">
          {{ provinces.name }}
        </option>
      </select>
    </div>
    <!-- <div class="col-lg-4 col-xs-4">
      <h1>Departamento</h1>
      <select id="provincia" class="form-select myCardBG mySelectBorders">
        <option disabled selected>Selecciona</option>
          <option>LIMA</option>
          <option>CALLAO</option>
          <option>TRUJILLO</option>
          <option>Piura</option>
          <option>CUSCO</option>
          <option>AREQUIPA</option>
          <option>CHICLAYO</option>
          <option>ICA</option>
          <option>TUMBES</option>
      </select>
    </div> -->
    <!-- <div class="col-lg-4 col-xs-4">
      <h1>Distrito</h1>
      <select id="distrito" class="form-select myCardBG mySelectBorders">
        <option disabled selected>Selecciona</option>
          <option>SANTIAGO DE SURCO</option>
          <option>CALLAO</option>
          <option>INDEPENDENCIA</option>
          <option>SAN JUAN DE MIRAFLORES</option>
          <option>SAN MIGUEL</option>
          <option>SAM MARTIN DE PORRES</option>
          <option>LIMA</option>
          <option>SAN BORJA</option>
          <option>SAN ANITA</option>
          <option>ATE</option>
          <option>PIURA</option>
          <option>TRUJILLO</option>
          <option>ICA</option>
          <option>TUMBES</option>
          <option>AREQUIPA</option>
          <option>CUSCO</option>
          <option>CHICLAYO</option>
      </select>
    </div> -->
  </div>
  <div class="row mt-4 mx-2 myBlackC myWhiteBGe">
    <div class="col-lg-8 col-xs-4" *ngFor="let agencia of agency" style="background: #EEEEEE; margin: auto;">
      <div class="card" style="margin: 5px" *ngIf="seleccion === agencia.name && agencia.state == 1">
        <div class="card-body">
          <div class="text-center">
            <p class="fw-bold mb-1">{{ agencia.name }} <a class="myPrimaryColor fw-bold" href="{{ agencia.url }}">Ver en
                Maps</a></p>
          </div>
          <div class="row d-flex ">
            <div class="col-2 col-sm-1">
              <img src="assets/icons/agency/localizador.svg" class="" width="30">
            </div>
            <div class="col-10 col-sm-11">
              <p>{{ agencia.address }}</p>
            </div>
          </div>
          <div class="row d-flex ">
            <div class="col-2 col-sm-1">
              <img src="assets/icons/agency/reloj.svg" class="" width="30">
            </div>
            <div class="col-10 col-sm-11">
              <p>{{ agencia.businessHour }}</p>
            </div>
          </div>
          <div class="row d-flex ">
            <div class="col-2 col-sm-1">
              <img src="assets/icons/agency/servicios.svg" class="" width="30">
            </div>
            <div class="col-10 col-sm-11">
              <p class="fw-bold">{{ agencia.service }}</p>
            </div>
          </div>
        </div>
      </div>




      <div class="card" style="margin: 5px" *ngIf="seleccion === 'All'">
        <div class="card-body">
          <div class="text-center">
            <p class="fw-bold mb-1">{{ agencia.name }} <a class="myPrimaryColor fw-bold" href="{{ agencia.url }}">Ver en
                Maps</a></p>
          </div>
          <div class="row d-flex ">
            <div class="col-2 col-sm-1">
              <img src="assets/icons/agency/localizador.svg" class="" width="30">
            </div>
            <div class="col-10 col-sm-11">
              <p>{{ agencia.address }}</p>
            </div>
          </div>
          <div class="row d-flex ">
            <div class="col-2 col-sm-1">
              <img src="assets/icons/agency/reloj.svg" class="" width="30">
            </div>
            <div class="col-10 col-sm-11">
              <p>{{ agencia.businessHour }}</p>
            </div>
          </div>
          <div class="row d-flex ">
            <div class="col-2 col-sm-1">
              <img src="assets/icons/agency/servicios.svg" class="" width="30">
            </div>
            <div class="col-10 col-sm-11">
              <p class="fw-bold">{{ agencia.service }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>