<div class="d-block text-center pb-5 myContainerBG myPadding myDarkerGrey"> <!--  d-sm-block d-md-none -->
  <div class="divImg">
    <img class="img-fluid rounded-bottom-5 d-block d-sm-none myTopImg" src="assets/images/abouts/equipotrabajo.gif">
    <img class="img-fluid rounded-bottom-5 d-none d-sm-block myTopImg" src="assets/images/abouts/equipotrabajo.gif">
    <div class="textForImg mySecondaryColor">
      <h2>¿Quiénes somos?</h2>
    </div>
  </div>
  <div class="row mt-4 mx-2 myBlackC">
    <div class="col-xs-12">
      <p class="mx-lg-5 myTextJustified">Somos una empresa creada por dos emprendedores con una visión innovadora de
        brindar un lugar, seguro, confiable y cercano a las personas en el
        cual puedan realizar operaciones financieras.</p>
      <div class="d-block d-sm-none">
        <p class="myPrimaryColor myTextJustified fw-semibold">PerúMoney fue fundada en Lima, Perú en el año 2007 pero es
          respaldada por más de 35 años de experiencia en el sector
          cambiario.</p>
        <img class="img-fluid rounded-5 my-4 myInTextImg" src="assets/images/abouts/personatrabaja.jpg">
        <p class="myTextJustified">Nuestra primera agencia la abrimos en el centro comercial MegaPlaza y sin dudarlo,
          sin ella no seriamos quienes somos hoy día. Gracias a la
          expansión de centros comerciales y luego de 15 años
          como empresa en el sector cambiario tenemos 26 agencias distribuidas en todo el pais.
        </p>
      </div>
      <div class="d-none d-sm-block mx-lg-5">
        <img class="img-fluid rounded-5 ms-4 my-2 float-end myInTextImg" src="assets/images/abouts/personatrabaja.jpg">
        <p class="myTextJustified">
          <span class="myPrimaryColor fw-semibold ">PerúMoney fue fundada en Lima, Perú en el año 2007 pero es
            respaldada por más de 35 años de experiencia en el sector cambiario.</span>
        </p>
        <p class="myTextJustified">Nuestra primera agencia la abrimos en el centro comercial MegaPlaza y sin dudarlo,
          sin ella no seriamos quienes somos hoy día. Gracias a la
          expansión de centros comerciales y luego de 15 años
          como empresa en el sector cambiario tenemos 26 agencias distribuidas en todo el pais.
        </p>
      </div>
      <p class="mx-lg-5 myTextJustified">Ofrecemos productos y servicios de calidad relacionado a valores y efectivos
        priorizando la transparencia, innovación y seguridad en cada una de
        nuestras operaciones.</p>
    </div>
  </div>
  <a class="btn fw-semibold my-3 myBlackBG mySecondaryColor" href="http://app.perumoney.pe/auth/sing-up
  ">Registrarse</a><br>
  <a class="myBlackC h6" href="http://app.perumoney.pe">Iniciar sesión</a>
</div>