
<!-- START Products for XS -->
<div class="d-block d-sm-block d-md-none container my-5 myDarkerGrey" id="service">
  <h2 class="text-center mySecondaryColor fw-bold">Nuestros servicios facilitan <span class="myPrimaryColor">tu vida.</span></h2>
  <div class="row text-center">
    <div class="col-12">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
          <img src="../../../../assets/img/cambiodedivisas.svg" class="w-50">
          <h5 class="fw-bold">Cambio de divisas</h5>
          <p>Mediante nuestras agencias físicas puedes cambiar <span class="mySecondaryColor fw-bold"> más de diez tipos de divisas</span> y por nuestra página web únicamente puedes cambiar entre sóles y dólares.</p>
          <p>En nuestras agencias físicas trabajamos con <span class="mySecondaryColor fw-bold">las siguientes monedas:</span> Dólares, Euros, Real Brasilero, Dólar Canadiense, Peso Mexicano, Peso Chileno, Peso Argentino, Peso Colombiano, Libra Esterlina, Yen Japonés, Franco Suizo, Boliviano y hasta Corona Sueca.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
          <img src="../../../../assets/img/transfiereyrecibe.svg" class="w-50">
          <h5 class="fw-bold">Transferencia de dinero</h5>
          <p><span class="mySecondaryColor fw-bold">Recibe y envía dinero</span> a cualquier parte del mundo o a nivel nacional, a través del servicio de transferencia de Western Union disponible en nuestras agencias físicas.</p>
          <p><span class="mySecondaryColor fw-bold">Puedes recibir hasta $500.00 o S/2000.00,</span> de manera rápida y segura, recuerda siempre revisar los términos y condiciones que aplican.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
          <img src="../../../../assets/img/pagodeservicios.svg" class="w-50">
          <h5 class="fw-bold">Pago de servicios</h5>
          <p>Pagar tus servicios con nosotros es una <span class="mySecondaryColor fw-bold">actividad súper fácil,</span> la cual puede realizar desde muchas de nuestras agencias físicas.</p>
          <p><span class="mySecondaryColor fw-bold">Puedes cancelar</span> desde financiamientos, educación, servicios básicos, hasta telefonía.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
          <img src="../../../../assets/img/enviodedocumentos.svg" class="w-50">
          <h5 class="fw-bold">Envío de documentos</h5>
          <p>Nuestro servicio de envió documentos es rápido y confiable gracias a que <span class="mySecondaryColor fw-bold">lo realizamos mediante DHL</span>, el líder global en la industria de logística.</p>
          <p><span class="mySecondaryColor fw-bold">Envía documentos a nivel nacional e internacional.</span> Este servicio se encuentra disponible solo para algunas de nuestras agencias.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
          <img src="../../../../assets/img/recargadetarjeta.svg" class="w-50">
          <h5 class="fw-bold">Emisión y Recarga de Tarjetas en Venezuela</h5>
          <p><span class="mySecondaryColor fw-bold">¡Somos agentes de Italcambio!</span> A través de nosotros solicítale una tarjeta en dólares a tu familiar o amigo ubicado en Venezuela y recárgale dólares. <span class="mySecondaryColor fw-bold">Evita el tipo de cambio de dólares a bolívares,</span> Solicíta vía Whatsapp al número <span class="mySecondaryColor fw-bold">936 021 785</span>.</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="nav nav-pills d-flex nav-justified" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link nav-linkXS fw-bold active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
          aria-selected="true">Cambio de divisas</button>
        <button class="nav-link nav-linkXS fw-bold" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
          aria-selected="false">Transferencia de dinero con Western Union</button>
        <button class="nav-link nav-linkXS fw-bold" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
          aria-selected="false">Pago de Servicios</button>
        <button class="nav-link nav-linkXS fw-bold" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
          aria-selected="false">Envío de Documentos con DHL</button>
        <button class="nav-link nav-linkXS fw-bold" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
          aria-selected="false">Emisión y Recarga de Tarjetas en Venezuela</button>
      </div>
    </div>
  </div>
</div>
<!-- END Products for XS -->



<!-- START Products for MD -->
<div class="d-none d-sm-block d-md-block container my-5 myDarkerGrey" id="service">
  <h2 class="text-center mySecondaryColor fw-bold d-md-block d-lg-none" >Nuestros servicios facilitan <span class="myPrimaryColor">tu vida.</span></h2>
  <div class="row text-center">
    <div class="col-6 mt-5">
      <h2 class="mySecondaryColor fw-bold d-md-none d-lg-block mb-5">Nuestros servicios facilitan <span class="myPrimaryColor">tu vida.</span></h2>
      <div class="nav flex-column nav-pills align-items-stretch me-3 myBorderAndWidth" id="md-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link nav-linkMD fw-bold mb-4 active " id="md-pills-home-tab" data-bs-toggle="pill" data-bs-target="#md-pills-home" type="button" role="tab" aria-controls="md-pills-home"
          aria-selected="true">Cambio de divisas</button>
        <button class="nav-link nav-linkMD fw-bold my-4" id="md-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#md-pills-profile" type="button" role="tab" aria-controls="md-pills-profile"
          aria-selected="false">Transferencia de dinero con Western Union</button>
        <button class="nav-link nav-linkMD fw-bold my-4" id="md-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#md-pills-disabled" type="button" role="tab" aria-controls="md-pills-disabled"
          aria-selected="false">Pago de Servicios</button>
        <button class="nav-link nav-linkMD fw-bold my-4" id="md-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#md-pills-messages" type="button" role="tab" aria-controls="md-pills-messages"
          aria-selected="false">Envío de Documentos con DHL</button>
        <button class="nav-link nav-linkMD fw-bold mt-4" id="md-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#md-pills-settings" type="button" role="tab" aria-controls="md-pills-settings"
          aria-selected="false">Emisión y Recarga de Tarjetas en Venezuela</button>
      </div>
    </div>
    <div class="col-6">
      <div class="tab-content" id="md-pills-tabContent">
        <div class="tab-pane fade show active" id="md-pills-home" role="tabpanel" aria-labelledby="md-pills-home-tab" tabindex="0">
          <img src="../../../../assets/img/cambiodedivisas.svg" class="w-50">
          <p class="h3 mb-2 fw-bold">Cambio de divisas</p>
          <p>Mediante nuestras agencias físicas puedes cambiar <span class="mySecondaryColor fw-bold"> más de diez tipos de divisas</span> y por nuestra página web únicamente puedes cambiar entre sóles y dólares.</p>
          <p>En nuestras agencias físicas trabajamos con <span class="mySecondaryColor fw-bold">las siguientes monedas:</span> Dólares, Euros, Real Brasilero, Dólar Canadiense, Peso Mexicano, Peso Chileno, Peso Argentino, Peso Colombiano, Libra Esterlina, Yen Japonés, Franco Suizo, Boliviano y hasta Corona Sueca.</p>
        </div>
        <div class="tab-pane fade" id="md-pills-profile" role="tabpanel" aria-labelledby="md-pills-profile-tab" tabindex="0">
          <img src="../../../../assets/img/transfiereyrecibe.svg" class="w-50">
          <p class="h3 mb-2 fw-bold">Transferencia de dinero</p>
          <p><span class="mySecondaryColor fw-bold">Recibe y envía dinero</span> a cualquier parte del mundo o a nivel nacional, a través del servicio de transferencia de Western Union disponible en nuestras agencias físicas.</p>
          <p><span class="mySecondaryColor fw-bold">Puedes recibir hasta $500.00 o S/2000.00,</span> de manera rápida y segura, recuerda siempre revisar los términos y condiciones que aplican.</p>
        </div>
        <div class="tab-pane fade" id="md-pills-disabled" role="tabpanel" aria-labelledby="md-pills-disabled-tab" tabindex="0">
          <img src="../../../../assets/img/pagodeservicios.svg" class="w-50">
          <p class="h3 mb-2 fw-bold">Pago de servicios</p>
          <p>Pagar tus servicios con nosotros es una <span class="mySecondaryColor fw-bold">actividad súper fácil,</span> la cual puede realizar desde muchas de nuestras agencias físicas.</p>
          <p><span class="mySecondaryColor fw-bold">Puedes cancelar</span> desde financiamientos, educación, servicios básicos, hasta telefonía.</p>
        </div>
        <div class="tab-pane fade" id="md-pills-messages" role="tabpanel" aria-labelledby="md-pills-messages-tab" tabindex="0">
          <img src="../../../../assets/img/enviodedocumentos.svg" class="w-50">
          <p class="h3 mb-2 fw-bold">Envío de Documentos con DHL</p>
          <p>Nuestro servicio de envió documentos es rápido y confiable gracias a que <span class="mySecondaryColor fw-bold">lo realizamos mediante DHL</span>, el líder global en la industria de logística.</p>
          <p><span class="mySecondaryColor fw-bold">Envía documentos a nivel nacional e internacional.</span> Este servicio se encuentra disponible solo para algunas de nuestras agencias.</p>
        </div>
        <div class="tab-pane fade" id="md-pills-settings" role="tabpanel" aria-labelledby="md-pills-settings-tab" tabindex="0">
          <img src="../../../../assets/img/recargadetarjeta.svg" class="w-50">
          <p class="h3 mb-2 fw-bold">Emisión y Recarga de Tarjetas en Venezuela</p>
          <p><span class="mySecondaryColor fw-bold">¡Somos agentes de Italcambio!</span> A través de nosotros solicítale una tarjeta en dólares a tu familiar o amigo ubicado en Venezuela y recárgale dólares. <span class="mySecondaryColor fw-bold">Evita el tipo de cambio de dólares a bolívares,</span> Solicíta vía Whatsapp al número <span class="mySecondaryColor fw-bold">936 021 785</span>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- START Products for MD -->
