<div class="container	d-block d-sm-block text-center pt-5 mb-5 myDarkerGrey" style="padding-top: 100px !important; padding-bottom: 60px !important;">
  <h4 class="myTopTitle fw-bold" style="font-size: 40px;">¿Cómo realizar transacciones en línea?</h4>
  <div class="row myImgFont">
    <div class="col">
      <img src="../../../../assets/img/registrate.svg" class="img-fluid myImgWidth">
      <p class="myFontSizeSM">Inicia sesión o regístrate</p>
    </div>
    <div class="col">
      <img src="../../../../assets/img/cotiza.svg" class="img-fluid myImgWidth">
      <p class="myFontSizeSM">Cotiza</p>
    </div>
    <div class="col">
      <img src="../../../../assets/img/transfiereyrecibe.svg" class="img-fluid myImgWidth">
      <p class="myFontSizeSM">Transfiere y recibe</p>
    </div>
  </div>
  <a type="button" class="btn myPrimaryButton mt-5" href="http://app.perumoney.pe">Iniciar transacción</a>
</div>